{{#each error}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}
<div class="card">
    <div class="card-body">
        <h4>Criar publicação</h4>
        <form action="/admin/posts/new" method="POST">
            <label for="title">Titulo</label>
            <input type="text" name="title" class="form-control">
            <label for="slug">Slug</label>
            <input type="text" name="slug" class="form-control">
            <label for="description">Descrição</label>
            <input type="text" name="description" class="form-control">
            <label for="content">Conteúdo</label>
            <textarea type="text" name="content" class="form-control"></textarea>
            <label for="categorie">Categoria</label>
            <select name="categorie" class="custom-select form-control">
                {{#each categories}}
                    <option value="{{_id}}">{{name}}</option>
                {{else}}
                    <option value="0">Nenhuma categoria registrada</option>
                {{/each}}
            </select>
            <button type="submit" class="btn btn-info mt-2 form-control">Publicar</button>
        </form>
    </div>
</div>